@font-face {
    font-family: 'Eina01-regular';
    src: url(../fonts/eina-01-regular.ttf);
}

@font-face {
    font-family: 'Eina01-bold';
    src: url(../fonts/eina-01-bold.ttf);
}

@font-face {
    font-family: 'Eina01-ligher';
    src: url(../fonts/eina-01-light.ttf);
}

/* NAVIGAZIONE */
*{
    margin: 0;
    padding: 0;
}
header{
    position: relative;
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: min(5vw,20px);
    height: 3vw;
    min-height: 15vh;
    max-height: 17vh;
    width: 100%;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
header img{
    cursor: pointer;
    width: 20%;
    margin-left: 3vw;
    margin-top: 1vw;
}
header img:hover{
    scale: 0.95;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

nav a{
    margin-top:2.8vw;
    padding:0.3vw 3.5vw;
    text-decoration: none;
    background-color: #4B4C7B;
    border-radius:1vw;
    color: #FFF;
    font-size: 1.5vw;
    font-family: Eina01-Regular;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
nav a:hover{
    opacity:90%;
}
.nav-cv:first-of-type{
    margin-right: 6vw;
    padding:0.3vw 1.5vw;
}
header #profilo-utente{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:2.5vw;
    margin-right: 3vw;
    width: 5.2vw;
    height: 5vw;
    border-radius: 1.5vw;
    background-color: #4b4c7b;
}
header #profilo-utente:hover{
    background-color: rgb(75, 76, 123, 0.9);
}
header #profilo-utente img{
    width:65%;
    margin:0;
}
.dropdown {
    display: none;
    justify-content:end;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.25);
    top: 8.2vw;
    right: 5.5vw;
    width:25vw;
    height: 12vw;
    z-index: 100;
}
.dropdown h2:first-child{
    margin-top: 2vw;
}
.dropdown h2:nth-child(2){
    margin-top: 1.3vw;
    margin-right: 4vw;
}
.dropdown h2{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-family: Eina01-bold;
    color: #6667AB;
    font-size: 2vw;
    margin-right: 2vw;
}
.dropdown h2:hover{
    scale:0.95;
}
.dropdown h2 #foto-profilo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
    width:3vw;
    height:3vw;
    background-color: #4B4C7B;
    border-radius: 2vw;
}

@media screen and (max-width: 600px){
    header{
        height:1vw;
        max-height: 3vw;
        min-height: 12vw;
        width: 100%;
    }
    header img{
        width: 40%;
        margin-left: 3vw;
        margin-top: 5vw;
    }
    nav a{
        margin-top:8vw;
        padding:0.2vw 4vw 0.5VW 4VW;
        text-decoration: none;
        font-family: Eina01-regular;
        background-color: #4B4C7B;
        font-size: 3vw;
        color:white;
        border-radius:15vw;
    }
    .nav-cv:first-of-type{
        margin-right: 1vw;
    }

    header #profilo-utente{
        margin-top:7vw;
        margin-right: 3vw;
        width: 9vw;
        height: 9vw;
        border-radius: 3.5vw;
    }

    header #profilo-utente img{
        width:60%;
        margin:0;
    }
    .dropdown {
        top: 14.8vw;
        right: 8vw;
        width:55vw;
        height: 18vw;
    }
    .dropdown h2{
        font-size: 4vw;
        margin-right: 2vw;
    }
    .dropdown h2:nth-child(2){
        margin-right: 5vw;
    }
    .dropdown h2 #foto-profilo{
        width:5vw;
        height:5vw;
        margin-left: 2vw;
        border-radius: 3vw;
    }
}

@media screen and (min-width: 601px) and (max-width: 1700px) {
    header{
        height:1vw;
        max-height: 3vw;
        min-height: 10vw;
        width: 100%;
    }
    header img{
        width: 25%;
        margin-left: 3vw;
        margin-top: 3vw;
    }
    nav a{
        margin-top: 5vw;
        font-size: 1.5vw;
        padding:0.5vw 2vw;
    }
    .nav-cv:first-of-type{
        padding:0.5vw 2vw;
    }
    .nav-cv{
        text-decoration: none;
        font-family: Eina01-regular;
        background-color: #4B4C7B;
        color:white;
        border-radius:1.3vw;
    }

    header #profilo-utente{
        margin-top:5vw;
        margin-right: 3vw;
        width: 5.2vw;
        height: 5.2vw;
        border-radius: 1.8vw;
    }

    header #profilo-utente img{
        width:60%;
        margin:0;
    }
    .dropdown {
        top: 13vw;
        right: 5.5vw;
        width:20vw;
        height: 10vw;
    }
    .dropdown h2{
        font-size: 1.5vw;
    }
    .dropdown h2 #foto-profilo{
        width:2vw;
        height:2vw;
        border-radius: 1vw;
    }
}